<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    {% include 'navbar.html' %}
    <body>
        <div class="container">
            <h5>Here are your current zip codes</h5>
            <ul>
                {% for zip_code in all_zip_codes %}
                    <li>{{ zip_code.getZipNumber }}</li>
                {% endfor %}
            </ul>

            <br>
            <form action="/add_zip_code" method="post">
                <div class="form-group">
                    <label for="zip_number">Zip Code</label>
                    <input id="zip_number" name="zip_number" class="form-select" type="number">
                </div>

                <div class="form-group">
                    <label for="city_id">City</label>
                    <select name="city_id">
                        {% for city in all_cities %}
                        <option value="{{ city.getId }}">{{ city.getName }}, {{city.getState }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add Zip Code</button>
            </form>

            <br>
            <form action="/delete_all_zip_codes" method="post">
                <button class="btn btn-danger">Delete ALL Zip Codes</button>
            </form>
        </div>

    </body>
    {% include 'footer.html' %}
</html>
